{% extends "base.html" %}

{% load static %}

{% block scripts %}
    {% include 'listing/js.html' %}
{% endblock %}

{% block content %}
<div class="price-trend nav-scroller shadow row justify-content-center align-items-center">
    <div class="col">
          <ul class="pagination mb-1">
            <li class="page-item">
              <a class="page-link" href="#">
               <i class="fas fa-caret-left fa-3x"></i>
              </a>
            </li>
            {% for i in previous_price_trend %}
                <li class="page-item">
                    <div class="card ml-1 mr-1 text-center" >
                        <div class="card-header">
                            05/06/2019
                        </div>
                        <div class="card-body">
                        <p class="card-text">$ Price</p>
                        </div>
                    </div>
                </li>
              {% endfor %}
            <li class="page-item">
              <a class="page-link" href="#">
                  <i class="fas fa-caret-right fa-3x"></i>
              </a>
            </li>
          </ul>
        </div>
    <div class="col-1 text-center">
            <p><strong>Weekly<br/>Price<br/>Trend</strong></p>
        </div>
    <div class="col">
          <ul class="pagination mb-1">
            <li class="page-item">
              <a class="page-link" href="#">
               <i class="fas fa-caret-left fa-3x"></i>
              </a>
            </li>
            {% for i in next_price_trend %}
                <li class="page-item">
                    <div class="card ml-1 mr-1 text-center" >
                        <div class="card-header">
                            05/06/2019
                        </div>
                        <div class="card-body">
                        <p class="card-text">$ Price</p>
                        </div>
                    </div>
                </li>
              {% endfor %}
            <li class="page-item">
              <a class="page-link" href="#">
                  <i class="fas fa-caret-right fa-3x"></i>
              </a>
            </li>
          </ul>
        </div>
</div>
<div class="row m-3">
    <div class="col">
        <div class="row mt-1">
            <div class="col-4">
                <div class="card shadow-sm">
                    <img class="card-img" src="{{ listing.picture_url }}">
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow-sm">
                    <img class="card-img" src="https://i.pinimg.com/originals/26/b3/c7/26b3c75f0db2991d7f795f6b9a8c2fc5.jpg">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div>
                    {% for i in i|rjust:5 %}
                        {% if forloop.counter <= listing.score %}
                            <span class="fa fa-star checked fa-2x"></span>
                        {% else %}
                            <span class="fa fa-star fa-2x"></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-4">
                <div class="float-right">
                 <span class="text-center"> {{ listing.host_name }}  <i class="fa fa-user-circle fa-2x ml-2"></i> </span>
                </div>
            </div>
        </div>
        <div class="row mt-3 ml-1">
            <span class="text-justify">
               {{ listing.formatted_description }}
            </span>
        </div>
    </div>
    <div class="col-3 ml-3" >
    <div class="card" style="background-color: gray">
        <div class="card-body">
            <div class="row">
           <div class="col text-white">
               Dates
           </div>
           </div>
            <div class="row mt-2 mb-2">
               <div class="col text-center">
                   <div class="border border-white rounded">
                       <div class="row">
                           <div class="col">
                               <button class="btn check-in-out bg-transparent btn-md w-100 text-white">Check-In</button>
                           </div>
                           <span class="d-flex justify-content-center align-items-center"><i class="fas fa-exchange-alt  text-white"></i></span>
                            <div class="col">
                               <button class="btn check-in-out bg-transparent btn-md w-100  text-white">Check-Out</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
            <div class="row">
               <div class="col text-white">
                   Number of guests
               </div>
           </div>
            <div class="row mt-2">
               <div class="col">
                   <div class="input-group mb-3">
                       <div class="input-group-prepend">
                            <button class="btn btn-outline-light btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                        </div>
                        <input type="number" id="qty_input" class="form-control form-control-sm guest-box text-center text-white p-2" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                        </div>
                   </div>
               </div>
            </div>
            <div class="row mt-2">
                <div class="col text-white text-center">
                    Price Breakup
                </div>
            </div>
        </div>
        <div class="card-footer border-0 bg-transparent">
              <div class="container d-flex justify-content-center p-0">
                  <button type="button" class="btn book-btn book w-100">Book</button>
              </div>
       </div>
    </div>
</div>
</div>
<div class="row m-3">
    <div class="col ml-1">
        <strong>Best Time To Visit</strong>
    </div>
</div>
<div class="row m-3">
    <div class="col ml-1">
        <span class="text-justify"><strong>Amenities </strong>{{ listing.cleaned_amenities }}</span>
    </div>
</div>
<div class="row m-3">
    <div class="col-4 ml-1">
        <strong>Availability</strong>
        <div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    </script>
</div>
    </div>
    <div class="col-7">
        <strong>Popularity Trend</strong>
        <br/>
        <div class="m-3">
        <canvas id="bar_chart"></canvas>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col">
        <strong>Reviews</strong>
        <div id="reviews-container">
        </div>
    </div>
</div>
{% endblock %}