{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/css.html' %}
    {% include 'base/js.html' %}

    <meta charset="UTF-8">
    <title>
        {% block title %}
           Listing Details
        {% endblock %}
    </title>

    {% block scripts %}
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}

</head>
</head>
{#fixed-top#}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><img src={% static "images/logo.png" %} height="34"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <p class="navbar-nav mr-auto text-white lead">{{ listing.name }}, {{ listing.street }}</p>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#">Become a host</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <img src={% static "images/user.png" %} width="34 height="34">
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
     {% block content %}
     {% endblock %}


    {% block alert %}
    {% endblock %}
</div>

</body>
</html>