{% extends 'base.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block scripts %}
    {%  include 'dashboard/js.html' %}
{% endblock %}

{% block stylesheets %}
    {%  include 'dashboard/css.html' %}
{% endblock %}

{% block navbar_title %}
        <p class="navbar-nav mr-auto text-white lead">Admin Dashboard</p>
{% endblock %}

{% block content %}
    <div class='row'>
            <div class="col-sm-6">
            <h1 align="center">Average price per listing</h1>
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle mr-2" type="button" id="state1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    State
                </button>
                <div id="state_list1" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                </div>
            </div>
            <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        <div class="col-sm-6" style="padding: 50px">
            <h1 align="center"> Location statistics </h1>
            <table id="myTable" border="1" class="table" style="flex: content-box"></table>

        </div>
     </div>
    <div class="container container-fluid", style="background: #e8e8e8; height: 600px">

          <div class="row ">
              <div class="col text-center">
                  <h1 class="text-center"> Room details </h1>
              </div>
          </div>
          <div class='row row-flex'>
              <div class="col-sm-1"></div>
              <div class="col-sm-5" style="padding-top: 150px"> You can see the room statistics! All the listings are either single rooms that can be shared or used privately. The remaining listings are condows or apartments that are entirely available for use.</div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5" align="center">
                  <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle mr-2" type="button" id="state2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    state
                </button>
                <div id="state_list2" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                </div>
            </div>

                  <canvas id="pieChart" width="20" height="10"></canvas>
              </div>
          </div>
          <div class='row' align="center" style="padding: 100px">
          <table id="Table2" border="1"></table>
          </div>

        </div>
    <div class="container container-fluid", style="background: #e8e8e8; height: 400px; margin-top: 80px">

          <div class="row row-flex">
           <div class="col-sm-12" align="center">
              <h2 align="center"> Host listing</h2>
           </div>
          </div>
          <div class='row row-flex'>
              <div class="col-sm-6">
                <canvas id="chart3" width="20" height="10"></canvas>
          <table id="" border="1" class="table"></table>
          </div>
              <div class="col-sm-6" align="center">
               <table id="Table3" border="1" class="table" style="flex: content-box"></table>
              </div>
          </div>
    </div>
{%  endblock content %}
